@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

/* @media screen and (max-width: 768px) { */

body {
    width: 768;
}

.menu-bars {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #2D66EE;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

.header-menu {
    top: 30px;
    width: 768px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    display: inline-flex;
    padding: 0px 10px;
    align-items: center;
    gap: 40px;
    position: fixed;
    z-index: 100;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.154px;
}

span.logo {
    color: #2D66EE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 9px;
    letter-spacing: -0.154px;
}

span.speciality {
    color: #306FF5;
}

.menu-items {
    list-style: none;
    padding: 0;
    display: none;
}

.menu-items.active {
    display: block;
}

ul.header-menu-hide {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    color: black;
}

ul.header-phones-hide {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

ul.header-mail {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.begin-information {
    position: relative;
    height: 900px;
    background: #F2F4F7;
    overflow: hidden;

    background-image: url('\\src\\assets\\img\\desktop ver img\\backgr.png'), url('\\src\\assets\\img\\desktop ver img\\backgr right.png'), url('\\src\\assets\\img\\desktop ver img\\top left backgr.png'),
        url('\\src\\assets\\img\\desktop ver img\\top right backgr.png'), url('\\src\\assets\\img\\desktop ver img\\bottom left backgr.png'), url('\\src\\assets\\img\\desktop ver img\\bottom right backgr.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 670.73px 0px, right 30px, 620.73px 0px, 970px 0px, 913.73px 760px, bottom right;
}

.main-info {
    top: 130px;
    left: 108px;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    z-index: 1;
    position: relative;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.32645100355148315px;
    text-align: left;
}

.application {
    background: #FFF;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    width: 600px;
    margin-left: -20px;
    left: 104;
    margin: 200px 0px 0px 104px;
    padding: 30px;
    position: relative;
    padding: 35px 30px 0px 35px;
    display: flex-start;
}

.application-form {
    display: flex;
    flex-direction: row;
}

.application h3 {
    margin-top: 0;
}

.application-form label {
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    margin-bottom: 5px;
    gap: 10;
}

.application-form input {
    box-sizing: border-box;
    border-style: none;
}

.button {
    float: right;
    display: flex;
    padding: 11px 24px;
    border-radius: 8px;
    background: var(--accent, #2D66EE);
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: bolder;
    text-align: start;
    letter-spacing: -0.154px;
    margin-bottom: 19px;
}

.development-info {
    width: 636px;
    height: 464px;
    top: 794px;
    left: 40px;
    flex-direction: column;
    align-items: flex-start;
}

.stack-technologies {}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background: #101828;
    color: #FFF;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    bottom: 10px;
    margin: 0px;
}

ul.footer-img-label {
    list-style-type: none;
    align-items: flex-start;
    display: inline-flex;
    color: #98A2B3;
    padding: 0px 20px 0px 20px;
    gap: 250px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
}

ul.footer-value {
    list-style-type: none;
    display: inline-flex;
    align-items: flex-start;
    color: #FFF;
    padding: 0px 20px 0px 50px;
    gap: 210px;
    font-style: SF Title 3 Semibold;
    font-family: SF Pro Text;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;

}

ul.footer-end-label {
    list-style-type: none;
    color: #FFF;
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.23999999463558197px;
    text-align: left;
    line-height: 150%;
}

h3 {
    width: 600px;
    color: var(--gray-900, #101828);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.38px;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

li.phones {
    margin-right: 15px
}

img {
    margin-right: 5px
}



@media screen and (min-width: 768px) {
    /* body {
        width: 1440px;
    } */

    /* .begin-information {
        background-image: url('\\src\\assets\\img\\desktop ver img\\backgr.png'), url('\\src\\assets\\img\\desktop ver img\\backgr right.png'), url('\\src\\assets\\img\\desktop ver img\\top left backgr.png'),
        url('\\src\\assets\\img\\desktop ver img\\top right backgr.png'), url('\\src\\assets\\img\\desktop ver img\\bottom left backgr.png'), url('\\src\\assets\\img\\desktop ver img\\bottom right backgr.png');
        background-position: 670.73px 0px, right 30px, 620.73px 0px, 970px 0px, 913.73px 760px, bottom right;
    } */
}

@media screen and (max-width: 768px) {
    body {
        width: 768px;
    }
}

@media screen and (max-width: 425px) {
    body {
        width: 425px;
    }
}